<div class="row">
    <div class="col-md-8">
        <h2>新着記事</h2>
        <% if @latest_articles.size < 1 %>
            <p>新着の記事はありません</p>
        <% else  %>
        <% (0..@latest_articles.size - 1).each do |n| %>
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title"><%= @latest_articles[n].title %></h2>
                    <p>
                    <% @latest_articles[n].categories.each do |category| %>
                        <span class="badge badge-info"><%= category.name %></span>
                    <% end %>
                    </p>
                    <p class="card-text"><%= @latest_articles[n].content.truncate(50)%></p>
                    <%= link_to "もっと見る", article_path(@latest_articles[n].id), class: 'btn btn-primary' %>
                </div>
                 <div class="card-footer text-muted">
                    投稿日：<%= @latest_articles[n].created_at.to_s(:datetime_jp) %>
                </div>
            </div>
        <% end %>
        <% end %>
        <p><%= link_to '記事一覧へ' , articles_path%></p>
    </div>
    <%= render 'articles/category' %>
</div>