<h1>記事一覧</h1>
<div class="row">
    <div class="col-md-8">
        <h2>全<%= @articles.size %>件</h2>
        <% @articles.each do |article| %>
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title"><%= article.title %></h2>
                    <p>
                    <% article.categories.each do |category| %>
                        <span class="badge badge-info"><%= category.name %></span>
                    <% end %>
                    </p>
                    <p class="card-text"><%= article.content.truncate(50) %></p>
                    <%= link_to "もっと見る", article_path(article.id), class: 'btn btn-primary' %>
                </div>
                <div class="card-footer text-muted">
                    <%= article.created_at.to_s(:datetime_jp) %>
                </div>
            </div>
        <% end %>
    </div>
    <%= render 'category' %>
</div>


