<h1>記事一覧</h1>
<div class="row">
    <div class="col-md-8">
        <h2>全<%= @articles.size %>件</h2>
        <% @articles.each do |article| %>
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title"><%= article.title %></h2>
                    <p>
                    <% article.categories.each do |category| %>
                        <span class="badge badge-primary"><%= category.name %></span>
                    <% end %>
                    </p>
                    <p class="card-text"><%= article.content.truncate(50) %></p>
                    <%= link_to "もっと見る", article_path(article.id), class: 'btn btn-primary' %>
                </div>
                <div class="card-footer text-muted">
                    <%= article.created_at.to_s(:datetime_jp) %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="col-md-4">
        <h2>カテゴリ</h2>
        <div class="card my-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <% @categories.each do |category| %>
                                <li><a href="#">
                                <%= category.name %>
                                (<%= category.articles.size %>)
                                </a></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


