<div class="container">
    <h2><%= @article.title %></h2>
    <ul>
        <li><%= @article.created_at %></li>
        <li><%= User.find(@article.user_id).name %></li>
    </ul>
    <p><%= @article.content %></p>

    <%= link_to '編集', edit_article_path(@article.id), class: 'btn btn-outline-dark' %>
    <%= link_to '削除', @article, class: 'btn btn-outline-dark', method: :delete %>
    <%= link_to '一覧へ', articles_path, class: 'btn btn-outline-dark' %>
</div>
