<h1>マイページ</h1>
<div class="mypage">
    <h2>プロフィール</h2>
    <table class="table">
        <tr>
            <th>名前</th>
            <th>メールアドレス</th>
        </tr>
        <tr>
            <td><%= @user.name %></td>
            <td><%= @user.email %></td>
            <td><%= link_to "編集", edit_user_path, class: "btn btn-primary"%></td>
        </tr>
    </table>

    <h2>投稿した記事</h2>
    <% unless @articles[0].nil? %>
    <table class="table">
        <tr>
            <th>タイトル</th>
            <th>投稿日時</th>
            <th></th>
        </tr>
        
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.title %></td>
                <td><%= article.created_at.to_s(:datetime_jp) %></td>
                <td><%= link_to "詳細", article_path(article.id), class: "btn btn-primary"%></td>
            </tr>
        <% end %>
    </table>
    <% else %>
        <p>投稿はありません</p>
    <% end %>
</div>


