<header class="navbar navbar-fixed-top">
  <div class="header">
    <%= link_to "TestingKnowledge", root_path, id: 'logo' %>
    <nav>
    <% if logged_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "投稿", new_article_path %></li>
        <li><%= link_to "マイページ", current_user %></li>
        <li><%= link_to "ログアウト",  logout_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "新規登録",  new_user_path %></li>
        <li><%= link_to "ログイン",  login_path %></li>
      </ul>
    <% end %>
    </nav>
  </div>
</header>